

.appBarConfig {
	.spacer {
		flex-grow: 1;
	}
}

.agoraNoMapa {
	.label {
		font-size: 16px;
	}
	.local {
		font-size: 18px;
		font-weight: bold;
	}
}

.infoAreas {
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	justify-items: center;

	.iconStyle {
		margin-left: 20px;
		margin-right: 20px;
	}
}
